    /*step 1*/
    *{
        margin: 0;
        padding: 0;
    }

    body{
    overflow: hidden;
    }

    /*step 2 add trees, track*/
    .trees {
        height: 500px;
        width: 600%;
        background-image: url(background2.jpg);
        position: absolute;
        top: -10px;
        animation-name: city;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    /* step 3 adjust track as per requirement and repeat background repeat-x*/
    
    .road {
        height:29vh;
        width: 769vh;
        background-image: url(road.PNG);
        position: relative;
        top: 492px;
        animation-name: road;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    /* step 4 add car parts one by one*/
    .car {
        height: 110px;
        width: 400px;
        background-image: url(car\ body.png);
        background-size:cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 300px;
        bottom: -103px;
        animation: shake linear 3s infinite;

    }

     /*left px the more increase the more move to fit in car body*/
    .wheel1 img{
        width: 73px;
        position: relative;
        top: 45px;
        left: 48px;
        animation: wheelrotation linear .6s infinite;
    }
    .wheel2 img{
        width: 77px;
        position: relative;
        top:-32px;
        left: 248px;
        animation: wheelrotation linear .6s infinite;
    }

    @keyframes wheelrotation {
        100% {
            transform: rotate(360deg);
        }
        
    }

    @keyframes carmove {
        100% {
            transform: translateX(-500vw);
        }
        
    }
    /* step 5 to shake car body */
    @keyframes shake {
        0% {
            transform: translateY(-5px);
        }

        50% {
            transform: translateY(5px);
        }

        100% {
            transform: translateY(-5px);
        }
        
    }

    @keyframes road {

        from{
            background-position: 100% 0;
        }

        to {
            background-position: 0 0;
        }
        
    }

    @keyframes trees {

        100%{
            transform: translateX(-1400px);
        }       
    }

